apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: n8n-ingress
spec:
  defaultBackend:
    service:
      name: n8n-service
      port:
        number: 5678
  ingressClassName: tailscale
  tls:
    - hosts:
        - n8n-internal
