apiVersion: v1
kind: Service
metadata:
  name: n8n-service
  namespace: home
spec:
  selector:
    app: n8n
  ports:
    - name: https
      port: 5678
      targetPort: 5678
      protocol: TCP
  type: ClusterIP
