apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-ingress
  spec:
    ingressClassName: tailscale
    defaultBackend:
      service:
        name: nginx
        port:
          number: 8080
    tls:
      - hosts:
          - nginx
