apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: nginx
    namespace: argocd
spec:
    project: default
    source:
        repoURL: https://github.com/CompositeCoding/homeLab.git
        targetRevision: HEAD
        path: apps/nginx
    destination:
        server: https://kubernetes.default.svc
        namespace: home
    syncPolicy:
        automated:
            enabled: true
