apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: plex-media-server
  namespace: argocd
spec:
  project: default
  sources:
    # Source 1: The official Plex Helm Chart
    - repoURL: 'https://github.com/plexinc/pms-docker.git'
      targetRevision: master
      path: charts/plex-media-server
      helm:
        values: |
          timezone: "UTC"
          extraEnv:
            PUID: "1000"
            PGID: "1000"
          persistence:
            data:
              enabled: true
              existingClaim: "plex-data-pvc"
            config:
              enabled: true
              existingClaim: "plex-config-pvc"
    - repoURL: 'https://github.com/CompositeCoding/homeLab.git'
      targetRevision: HEAD
      path: apps/plex
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: home
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
